.cardText {
    max-width: 1064px;
    display: flex;
    gap: 131px;
    margin: 49px auto 0
}

.paragraphs {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width: 630px;
    text-align: left;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.link {
    display: flex;
    gap: 10px;
    align-items: center;
    transition: 0.3s
}

.link:hover {
    scale: 1.03
}

.phoneIcon {
    width: 22px;
    height: 22px;
    background-image: url('../../assets/phone.svg');
    background-repeat: no-repeat
}

.mailIcon {
    width: 22px;
    height: 22px;
    background-image: url('../../assets/mail.svg');
    background-repeat: no-repeat
}

@media screen and (max-width: 1224px) {
    .cardText {
        margin: 49px 0 0;
        padding: 0 0 0 80px
    }
}

@media screen and (max-width: 1120px) {
    .cardText {
        padding: 0 20px
    }
}

@media screen and (max-width: 900px) {
    .cardText {
        flex-direction: column-reverse;
        gap: 2px;
        margin: 33px auto 32px;
    }
    .contacts {
        gap: 10px
    }
}
